In [2]:
import pandas as pd

In [3]:
sp500 = pd.read_csv("data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [4]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [5]:
# retrieve the Sector column
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [6]:
type(sp500['Sector'])

pandas.core.series.Series

In [7]:
# retrieve the Price and Book Value columns
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [8]:
# show that this is a DataFrame
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

In [9]:
# attribute access of column by name
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
ACT     213.77
ADBE     64.30
AES      13.61
AET      76.39
AFL      61.31
A        56.18
GAS      52.98
APD     118.74
ARG     105.66
AKAM     53.65
AA       13.52
ALXN    162.30
ATI      40.99
ALLE     52.46
AGN     166.92
ADS     248.88
ALL      58.38
ALTR     33.31
MO       40.68
AMZN    312.24
AEE      38.64
AEP      51.41
AXP      88.78
AIG      53.60
AMT      88.41
         ...
VIAB     84.99
V       212.07
VNO     105.32
VMC      61.19
WMT      75.61
WAG      69.79
DIS      83.32
WM       43.37
WAT     100.54
WLP     108.82
WFC      50.16
WDC      84.83
WU       15.77
WY       30.87
WHR     147.26
WFM      37.78
WIN       9.38
WEC      45.13
WYN      72.22
WYNN    207.86
XEL      30.24
XRX      12.06
XLNX     46.03
XL       32.47
XYL      38.42
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, dtype: float64

In [10]:
# get row with label MMM
# returned as a Series
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [11]:
# rows with label MMM and MSFT
# this is a DataFrane result
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [12]:
# get the location 0 and 2
sp500.iloc[[0 ,2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [15]:
# get tge location of MMM and A in the index
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

In [16]:
sp500.iloc[[i1 ,i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928