In [1]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame([['Pen', 24, 2.39],
                    ['Eraser', 32, 1.29],
                    ['Sharpener', 12, 10.39],
                    ['Pencil', 42, 0.59 ]],
                   index=[100024, 201024, 202034, 101122],
                   columns = ['item', 'inventory', 'unit_price'])
df2 = pd.DataFrame({'item': ('Pen', 'Eraser', 'Sharpener', 'Pencil'),
                    'inventory': (24, 32, 12, 42),
                    'unit_price': (2.39, 1.29, 10.39, 0.59)},
                   index=[100024, 201024, 202034, 101122])

In [2]:
df1

             item  inventory  unit_price
100024        Pen         24        2.39
201024     Eraser         32        1.29
202034  Sharpener         12       10.39
101122     Pencil         42        0.59

In [3]:
df2

        inventory       item  unit_price
100024         24        Pen        2.39
201024         32     Eraser        1.29
202034         12  Sharpener       10.39
101122         42     Pencil        0.59