In [12]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame([['Pen', 24, 2.39],
                    ['Eraser', 32, 1.29],
                    ['Sharpener', 12, 10.39],
                    ['Pencil', 42, 0.59 ]],
                   index=[100024, 201024, 202034, 101122],
                   columns = ['item', 'inventory', 'unit_price'])

In [13]:
df1

             item  inventory  unit_price
100024        Pen         24        2.39
201024     Eraser         32        1.29
202034  Sharpener         12       10.39
101122     Pencil         42        0.59

In [14]:
df1['discount'] = [0.75, 0.50, 0.75, 0.75]

In [15]:
df1

             item  inventory  unit_price  discount
100024        Pen         24        2.39      0.75
201024     Eraser         32        1.29      0.50
202034  Sharpener         12       10.39      0.75
101122     Pencil         42        0.59      0.75

In [16]:
del df1['discount']

In [17]:
df1

             item  inventory  unit_price
100024        Pen         24        2.39
201024     Eraser         32        1.29
202034  Sharpener         12       10.39
101122     Pencil         42        0.59