# Configuring pandas

In [11]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# Reading a CSV into a DataFrame

In [2]:
# read in msft.csv into a DataFrame
msft = pd.read_csv("data/msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying the index column when reading a CSV file

In [3]:
# use column 0 as the index
msft = pd.read_csv("data/msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

# Data type inference and specification

In [4]:
# examine the types of the columns in this DataFrame
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [5]:
# specify that the Volume column should be a float64
msft = pd.read_csv("data/msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

# Specifying column names

In [6]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("data/msft.csv", 
                 header=0,
                 names=['date', 'open', 'high', 'low', 
                        'close', 'volume'])
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying specific columns to load

In [7]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("data/msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

# Saving a DataFrame to a CSV

In [8]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("data/msft_modified.csv", index_label='date')

In [9]:
# view the start of the file just saved
df2 = pd.read_csv("data/msft_modified.csv", 
                  usecols=['date', 'Close'], 
                  index_col=['date'])
df2.head()

           Close
date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

# General field-delimited data

In [10]:
# use read_table with sep=',' to read a CSV
df = pd.read_table("data/msft.csv", sep=',')
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [11]:
# save as pipe delimited
df.to_csv("data/msft_piped.txt", sep='|')
# check that it worked
df2 = pd.read_table("data/msft_piped.txt", sep='|')
df2[:5]

   Unnamed: 0       Date   Open   High    Low  Close   Volume
0           0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1           1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2           2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3           3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4           4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Handling variants of formats in field-delimited data

In [12]:
# messy file
df = pd.read_table("data/msft2.csv", sep=',',header=1)
df[:5]

                                                Date   Open   High    Low  Close  \
0                                                NaN    NaN    NaN    NaN    NaN
1  And there is space between the header row and ...    NaN    NaN    NaN    NaN
2                                          7/21/2014  83.46  83.53  81.81  81.93
3                                          7/18/2014  83.30  83.40  82.52  83.35
4                                          7/17/2014  84.35  84.63  83.33  83.63

      Volume
0        NaN
1        NaN
2  2359300.0
3  4020800.0
4  1974000.0

In [13]:
# read, but skip rows 0, 2 and 3
df = pd.read_csv("data/msft2.csv", skiprows=[0, 2, 3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [14]:
# another messy file, with the mess at the end
df = pd.read_csv("data/msft_with_footer.csv")
df[:5]

        Date                         Open   High    Low  Close     Volume
0  7/21/2014                        83.46  83.53  81.81  81.93  2359300.0
1  7/18/2014                         83.3  83.40  82.52  83.35  4020800.0
2      Uh oh   there is stuff at the end.    NaN    NaN    NaN        NaN

In [15]:
# skip only two lines at the end
df = pd.read_csv("data/msft_with_footer.csv", 
                 skipfooter=2)
df

C:\Users\am\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [16]:
# only process the first three rows
pd.read_csv("data/msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [17]:
# skip 100 lines, then only process the next five
pd.read_csv("data/msft.csv", skiprows=100, nrows=5, 
            header=0,
            names=['date', 'open', 'high', 'low', 
                   'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

# Reading and writing data in Excel format

In [18]:
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [19]:
# read from the aapl worksheet
aapl = pd.read_excel("data/stocks.xlsx", sheetname='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [20]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("data/stocks2.xls")

In [21]:
# write making the worksheet name MSFT
df.to_excel("data/stocks_msft.xls", sheet_name='MSFT')

In [22]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("data/all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [23]:
# write to xlsx
df.to_excel("data/msft2.xlsx")

# Reading and writing JSON files

In [24]:
# write the excel data to a JSON file
df[:5].to_json("data/stocks.json")
df2=pd.read_json("data/stocks.json")
df2.head()

   Close       Date   High    Low   Open   Volume
0  81.93 2014-07-21  83.53  81.81  83.46  2359300
1  83.35 2014-07-18  83.40  82.52  83.30  4020800
2  83.63 2014-07-17  84.63  83.33  84.35  1974000
3  84.91 2014-07-16  84.91  83.66  83.77  1755600
4  83.58 2014-07-15  84.38  83.20  84.30  1874700

In [25]:
# read data in from JSON
df_from_json = pd.read_json("data/stocks.json")
df_from_json[:5]

   Close       Date   High    Low   Open   Volume
0  81.93 2014-07-21  83.53  81.81  83.46  2359300
1  83.35 2014-07-18  83.40  82.52  83.30  4020800
2  83.63 2014-07-17  84.63  83.33  84.35  1974000
3  84.91 2014-07-16  84.91  83.66  83.77  1755600
4  83.58 2014-07-15  84.38  83.20  84.30  1874700

In [26]:
# the URL to read
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"
# read it
banks = pd.read_html(url)

In [27]:
# examine a subset of the first table read
banks[0][0:5].iloc[:,0:2]

                                           Bank Name         City
0                Washington Federal Bank for Savings      Chicago
1    The Farmers and Merchants State Bank of Argonia      Argonia
2                                Fayette County Bank   Saint Elmo
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee
4                                     First NBC Bank  New Orleans

In [28]:
# read the stock data
df = pd.read_excel("data/stocks.xlsx")
# write the first two rows to HTML
df.head(2).to_html("data/stocks.html")
# check the lines of the output
df_from_html = pd.read_html("data/stocks.html")
df_from_html

[   Unnamed: 0        Date   Open   High    Low  Close   Volume
 0           0  2014-07-21  83.46  83.53  81.81  81.93  2359300
 1           1  2014-07-18  83.30  83.40  82.52  83.35  4020800]

# Reading and writing HDF5 format files

In [29]:
# seed for replication
np.random.seed(123456)
# create a DataFrame of dates and random numbers in three columns
df = pd.DataFrame(np.random.randn(8, 3), 
                  index=pd.date_range('1/1/2000', periods=8),
                  columns=['A', 'B', 'C'])

# create HDF5 store
store = pd.HDFStore('data/store.h5')
store['df'] = df # persisting happened here
store

<class 'pandas.io.pytables.HDFStore'>
File path: data/store.h5
/df            frame        (shape->[8,3])

In [30]:
# read in data from HDF5
store = pd.HDFStore("data/store.h5")
df = store['df']
df[:5]

                   A         B         C
2000-01-01  0.469112 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

In [31]:
# this changes the DataFrame, but did not persist
df.iloc[0].A = 1 
# to persist the change, assign the DataFrame to the 
# HDF5 store object
store['df'] = df
# it is now persisted
# the following loads the store and 
# shows the first two rows, demonstrating
# the the persisting was done
pd.HDFStore("data/store.h5")['df'][:5] # it's now in there

                   A         B         C
2000-01-01  1.000000 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

In [32]:
# Reading data from a web site
database_countries = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv", sep=",")
database_countries

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [33]:
# Another example  (For stocks pandas now provide DataReader, provided they share the relevant API with pandas) -AK
gov_hist = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item', sep='\t')
gov_hist[:5]

                                               item_code  item_name display_level  \
AA0                                 All items - old base          0             T
AA0R   Purchasing power of the consumer dollar - old ...          0             T
SA0                                            All items          0             T
SA0E                                              Energy          1             T
SA0L1                                All items less food          1             T

       selectable  sort_sequence
AA0             2            NaN
AA0R          399            NaN
SA0             1            NaN
SA0E          374            NaN
SA0L1         358            NaN

# Reading and writing from/to SQL databases

In [34]:
# reference SQLite
import sqlite3

# read in the stock data from CSV
msft = pd.read_csv("data/msft.csv")
msft["Symbol"]="MSFT"
aapl = pd.read_csv("data/aapl.csv")
aapl["Symbol"]="AAPL"

# create connection
connection = sqlite3.connect("data/stocks.sqlite")
# .to_sql() will create SQL to store the DataFrame
# in the specified table.  if_exists specifies
# what to do if the table already exists
msft.to_sql("STOCK_DATA", connection, if_exists="replace")
aapl.to_sql("STOCK_DATA", connection, if_exists="append")

# commit the SQL and close the connection
connection.commit()
connection.close()

In [35]:
# connect to the database file
connection = sqlite3.connect("data/stocks.sqlite")

# query all records in STOCK_DATA
# returns a DataFrame
# inde_col specifies which column to make the DataFrame index
stocks = pd.io.sql.read_sql("SELECT * FROM STOCK_DATA;", 
                             connection, index_col='index')

# close the connection
connection.close()

# report the head of the data retrieved
stocks[:5]

            Date   Open   High    Low  Close   Volume Symbol
index
0      7/21/2014  83.46  83.53  81.81  81.93  2359300   MSFT
1      7/18/2014  83.30  83.40  82.52  83.35  4020800   MSFT
2      7/17/2014  84.35  84.63  83.33  83.63  1974000   MSFT
3      7/16/2014  83.77  84.91  83.66  84.91  1755600   MSFT
4      7/15/2014  84.30  84.38  83.20  83.58  1874700   MSFT

In [36]:
# open the connection
connection = sqlite3.connect("data/stocks.sqlite")
# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE " + \
        "Volume>29200100 AND Symbol='MSFT';"
# execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()
# report the query result
items

            Date   Open   High    Low  Close    Volume Symbol
index
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT