In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame([['Pen', 24, 2.39],
                    ['Eraser', 32, 1.29],
                    ['Sharpener', 12, 10.39],
                    ['Pencil', 42, 0.59 ]],
                   index=[100024, 201024, 202034, 101122],
                   columns = ['item', 'inventory', 'unit_price'])

In [3]:
col = df['item']
cols = df[['item', 'inventory']]
rows = df[2:4]
row_data = df.loc[201024]
df1 = df.loc[201024:,['item','unit_price']]

In [4]:
col

100024          Pen
201024       Eraser
202034    Sharpener
101122       Pencil
Name: item, dtype: object

In [5]:
cols

             item  inventory
100024        Pen         24
201024     Eraser         32
202034  Sharpener         12
101122     Pencil         42

In [6]:
rows

             item  inventory  unit_price
202034  Sharpener         12       10.39
101122     Pencil         42        0.59

In [7]:
row_data

item          Eraser
inventory         32
unit_price      1.29
Name: 201024, dtype: object

In [8]:
df1

             item  unit_price
201024     Eraser        1.29
202034  Sharpener       10.39
101122     Pencil        0.59