In [6]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame([['Pen', 24, 2.39],
                    ['Eraser', 32, 1.29],
                    ['Sharpener', 12, 10.39],
                    ['Pencil', 42, 0.59 ]],
                   index=[100024, 201024, 202034, 101122],
                   columns = ['item', 'inventory', 'unit_price'])

In [7]:
df1

             item  inventory  unit_price
100024        Pen         24        2.39
201024     Eraser         32        1.29
202034  Sharpener         12       10.39
101122     Pencil         42        0.59

In [8]:
row_data = df1.iloc[1]
col_data = df1.iloc[:,1]
single_item = df1.iloc[3,1]
df1 = df1.iloc[0:2, 1:]

In [9]:
row_data

item          Eraser
inventory         32
unit_price      1.29
Name: 201024, dtype: object

In [10]:
col_data

100024    24
201024    32
202034    12
101122    42
Name: inventory, dtype: int64

In [11]:
single_item

42

In [12]:
df1

        inventory  unit_price
100024         24        2.39
201024         32        1.29